_site/
_build/
_deploy/
episodios/
assets/webfonts/
node_modules/
assets/bundle.js
.bundle
.sass-cache
Gemfile.lock
.DS_Store
.vendor
vendor/
dockerbuild/
.cache/
assets/bundle-*

artifacts/
tmp/
dist/
