<head>
  <meta charset="UTF-8">
  <title>{%- if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#aaddd6" />
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/main.css" />
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }} - Podcast" href="/podcast.xml" />
  {%- if page.file %}
  <meta name="twitter:card" content="player" />
  <meta property="twitter:player" content="{{ site.url }}/player.html#{{ page.file | append: '|' | append: page.title | append: '|' | append: page.duration | uri_escape }}" />
  <meta property="twitter:player:width" content="682" />
  <meta property="twitter:player:height" content="68" />
  {%- else %}
  <meta name="twitter:card" content="summary" />
  {%- endif %}
  <meta name="twitter:site" content="@preguntaleatum" />
  <meta name="twitter:creator" content="@bng5" />
  <meta name="twitter:title" content="{%- if page.title %}{{ page.title }}{%- else %}{{ site.title }}{%- endif %}" />
  <meta name="twitter:description" content="{{ site.tagline }}" />
  <meta name="twitter:image" content="https://www.preguntaleatumadre.com/assets/images/patum.png" />
  {%- if page.title %}
  <meta property="og:title" content="{{ page.title }}" />
  {%- endif %}
  {%- if page.file %}
  <meta property="og:audio" content="{{ page.file | prepend: "episodios/" | absolute_url }}" />
  {%- endif %}
  <meta property="og:url" content="{{ site.url }}" />
  <meta property="og:site_name" content="{{ site.title }}" />
  <meta property="og:description" content="{{ site.tagline }}" />
  <meta property="og:locale" content="es_UY" />
</head>
