<section class="page-header">
  <div class="header-title__top">
    <div class="header-title">
      <img src="/assets/images/patum.svg" alt="{{ site.title }}" />
      <h2 class="project-tagline">{{ site.tagline }}</h2>
    </div>
    {% comment %}
    <div class="page-header__ctas">
      <a href="/podcast.xml" class="btn page-header__cta podcast" target="_blank">Podcast</a>
      <a id="radio-playback" href="http://radio.tallerderadio.com:8050/;listen.pls&amp;type=mp3" class="btn page-header__cta radio playback" data-src="http://radio.tallerderadio.com:8050/;listen.pls&amp;type=mp3">Radio Online</a>
    </div>
    {% endcomment %}
  </div>
  <p class="page-header__cuando">Miércoles 22 hs. por <a href="http://www.mediarte.com.uy/" rel="noopener noreferrer" target="_blank">Mediarte</a></p>
  <ul class="social">
    <li class="social-item twitter"><a href="https://twitter.com/preguntaleatum" rel="noopener noreferrer" target="_blank">@preguntaleatum</a></li>
    <li class="social-item instagram"><a href="https://www.instagram.com/patumradio/" rel="noopener noreferrer" target="_blank">@preguntaleatum</a></li>
    <li class="social-item facebook"><a href="https://www.facebook.com/2036459399960596/" rel="noopener noreferrer" target="_blank">Preguntale A Tu Madre</a></li>
  </ul>
</section>
