.main-content {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 64em) {
    flex-direction: row;
  }
}

#home {
  flex: 1;
}

.rss {
  font-size: 0.8em;

  &::before {
    @include fa-icon();
    @extend .fas;
    content: fa-content($fa-var-rss);
    color: #cccccc;
  }
  
  &:hover::before {
    color: #f26522;
  }
}

.sidebar {
  width: 300px;
}

.programa {
  &__titulo {
    margin-left: 2em;

    a {
      color: inherit;
    }
  }

  &__playback {
    float: left;

    &::before {
      @include fa-icon();
      @extend .fas;
      content: fa-content($fa-var-play);
      font-size: 2em;
      // border-radius: 50%;
      // line-height: 2em;
    }
    &.pause::before {
      content: fa-content($fa-var-pause);
      // background-color: $main-color;
    }
  }
}

.playback {
  &::before {
    @include fa-icon();
    @extend .fas;
    content: fa-content($fa-var-play);
  }

  &.pause::before {
    content: fa-content($fa-var-pause);
  }
}
