.main-content {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 64em) {
    flex-direction: row;
  }
}

#home {
  flex: 1;
}

.rss {
  font-size: 0.8em;

  &::before {
    @include fa-icon();
    @extend .fas;
    content: fa-content($fa-var-rss);
    color: #cccccc;
  }
  
  &:hover::before {
    color: #f26522;
  }
}

.sidebar {
  width: 300px;
}

.programa {
  clear: both;

  &__titulo {
    margin-bottom: 0 !important;

    a {
      color: inherit;
    }
  }

  &__info {
    margin-top: 0;
    margin-bottom: 0.5em !important;
  }

  &__share {
    margin-top: 0;
    font-size: 85%;

    a {
      cursor: pointer;
      margin-left: 0.3em;

      &::before {
        @include fa-icon();
        @extend .fab;
        font-size: 1.5em;
      }

      &.twitter {
        &::before {
          content: fa-content($fa-var-twitter);
        }
        &:hover {
          color: #55acee;
        }
      }

      &.facebook {
        &::before {
          content: fa-content($fa-var-facebook);
        }
        &:hover {
          color: #3b5998;
        }
      }
    }
  }

  &__playback {
    // float: left;
    color: #bfbfbf;
    cursor: pointer;

    &::before {
      @include fa-icon();
      @extend .fas;
      // @extend .fa-fw;
      content: fa-content($fa-var-play);
      font-size: 2em;
      // border-radius: 50%;
      // line-height: 2em;
    }
    &.pause::before {
      content: fa-content($fa-var-pause);
    }
    &.loading::before {
      content: fa-content($fa-var-circle-notch);
      @extend .fa-spin;
    }
  }
}

.pagination {
  clear: both;
  text-align: center;

  .load-more {
    background-color: $main-color;
    border: none;
    border-radius: 10px;
    box-shadow: 6px 8px 0px rgba(168,168,168,0.5);
    color: #111111;
    padding: 0.5em 1em;
    width: 80%;

    &:disabled {
      color: #606c71;
    }

    &.loading::before {
      @include fa-icon();
      @extend .fas;
      @extend .fa-spin;
      content: fa-content($fa-var-circle-notch);
      vertical-align: 0;
      margin-right: 0.5em;
    }
  }
}

.playback {
  &::before {
    @include fa-icon();
    @extend .fas;
    content: fa-content($fa-var-play);
  }

  &.pause::before {
    content: fa-content($fa-var-pause);
  }
}
