<!DOCTYPE html>
<html lang="{{ site.locale }}">
{% include head.html %}
<body>
  {% include page-header.html %}
  <section class="main-content">
    {{ content }}
    <div class="sidebar">
      <a class="twitter-timeline" href="https://twitter.com/preguntaleatum?ref_src=twsrc%5Etfw">Tweets de Preguntale a tu Madre</a>
    </div>
    {% include page-footer.html %}
  </section>
  {% include player.html %}
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  <script src="/assets/main.js"></script>
</body>
</html>
