<!DOCTYPE html>
<html lang="{{ site.locale }}">
{% include head.html %}
<body>
  <div id="app">
    {% include page-header.html %}
    <section class="main-content">
      {{ content }}
      <div class="sidebar">
        <div class="twitter-timeline-wrapper">
          <a class="twitter-timeline" href="https://twitter.com/preguntaleatum?ref_src=twsrc%5Etfw">Tweets de Preguntale a tu Madre</a>
        </div>
      </div>
      {% include page-footer.html %}
    </section>
    <div id="player-container"></div>
  </div>
  {% comment %}{% include player.html %}{% endcomment %}
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  <script type="text/javascript" src="/assets/bundle-20190331.js" charset="utf-8"></script>
</body>
</html>
