---
layout: default
---
<div id="home">
  <h1>Programas <sup><a href="/podcast.xml" target="_blank"><span class="rss"></span></a></sup></h1>
  <div id="programas">
    <div class="programa">
      <p>Emitido: <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.fecha }}</time></p>
      {{ page.content }}
      {{ content }}
      <a href="/episodios/{{ post.file }}">{{ page.file }}</a>
    </div>
    <div class="pagination">
      {% if page.previous %}
      Anterior: <a href="{{ page.previous.url }}">{{ page.previous.title }}</a>
      {% endif %}
      <a href="/">Lista de programas</a>
      {% if page.next %}
      Siguiente: <a href="{{ page.next.url }}">{{ page.next.title }}</a>
      {% endif %}
    </div>
  </div>
</div>


<script id="data" type="application/json">{
  "next_page":"/feed/podcast-1.xml",
  "back": true,
  "programas": [{
    "title": "{{ page.title }}",
    "file": "{{ page.file }}",
    "fecha": "{{ page.fecha }}",
    "date": "{{ page.date }}",
    "length": {{ page.length }},
    "episode": {{ page.episode }},
    "duration": "{{ page.duration }}",
    "url": "{{ page.url }}"
  }]
}</script>
